logs
project/project
project/target
target
.target
.cache
.cache-main
/.cache-main
.classpath
/*.class
/*.sjsir
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
.project
/RUNNING_PID
/.settings
.settings/
*~
bin/
sbt-cache-config/
sbt-cache-update/
/ui
.metals
